#content-container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#preference-container {
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.preference-slider {
  cursor: pointer;
}


#logo {
  background-image: url('../assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  margin: 10% auto 5% auto;


}

#graph-container {
  min-width: 110px;
  height: 200px;
  margin: 0 auto;
}

tspan {
  display: none;
}

#mapid {
  height: 400px;

}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
 }​
 input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }
