#content-container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#preference-container {
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.preference-slider {
  cursor: pointer;
}


#logo {
  background-image: url('../assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  margin: 10% auto 5% auto;


}
